body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

form {
  max-width: fit-content;
  margin: 40px auto;
}

form h1 {
  text-align: center;
}

form fieldset {
  width: 100%;
  height: auto;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

fieldset:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

input,
select,
button {
  box-sizing: border-box;
  display: flex;
  padding: 0 10px;
  margin: 10px auto;
  width: 50%;
}

input:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.94);
}

button {
  background-color: lightblue;
  border: none;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
}

button:hover {
  background-color: darkblue;
}

table {
  font-family: arial, sans-serif;
  width: 100%;
  margin: 10px auto;
  border-collapse: collapse;
}

thead {
  background-color: #333;
  color: white;
}

tr th {
  font-weight: bold;
}

td,
th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

tr td:first-child {
  background-color: orange;
}

thead th {
  text-align: center;
  width: 25%;
}

.total {
  width: 20%;
  height: 30px;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
}

.total h3 {
  margin: 3px auto;
}
