body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

form {
  max-width: fit-content;
  margin: 40px auto;
}

form h1 {
  text-align: center;
}

form fieldset {
  width: 100%;
  height: auto;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

fieldset:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

input:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.94);
}

button {
  background-color: lightblue;
  border: none;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: darkblue;
}

table {
  font-family: arial, sans-serif;
  width: 100%;
  margin: 10px auto;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;
  border-radius: 5px;
}

thead th {
  text-align: center;
}

.total {
  width: 80px;
  height: 30px;
  border: 2px solid black;
  border-radius: 10px;
  opacity: 0.5;
  text-align: center;
  padding: 5px;
}

.total h1 {
  margin: 2px auto;
}
